<%= link_to "Home", root_path, class:"button is-primary" %>
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= @article.title %></p>
        <br />
        <p class="status">Status:  <%= @article.status %></p>
        <br />
        <p class="status">Expiration date:  <%= @article.expiration ?  @article.expiration : '-'%></p>
      </div>
    </div>
    <div class="content">
      <%= @article.body %>
    </div>
    <div class="author">
      <span class="tag is-rounded"><%= @article.user.email %> </span>
    </div>
    <div class="comment-count">
      <span class="tag is-rounded"><%= @article.comments.count %> comments</span>
    </div>
  </div>
</div>
<br>
<div class="container">
  <%= link_to "Edit", edit_article_path(@article), class:"button" %>
  <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class:"button is-danger" %>
</div>
<br>
<br>
<h2>Comments</h2>
<%= render @article.comments %>
<br>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
